.container{
    
    width: 100%;
    
    display: flex;
    align-items:center;
    justify-content: space-around;
    

}

#menu1{
	background: blue;
	width: 300px;
	height: 200px;
	padding-bottom: 2px;


}

#menu2{
	background: blue;
	width: 300px;
	height: 200px;

}

#menu3{
	background: blue;
	width: 300px;
	height: 200px;

}

@media (max-width:500px) {
	.container{
		flex-direction: column;
	}


}



